/Projeto Arquitetura
# BackEnd
/BackEndPaSolucoes/node_modules
/BackEndPaSolucoes/package-lock.json

###FrontEnd
/FrontEndPaSolucoes/node_modules
/FrontEndPaSolucoes/.pnp.js
/.pnp
/FrontEndPaSolucoes/.next/
/FrontEndPaSolucoes/out/
# testing
/FrontEndPaSolucoes/coverage
# production
/FrontEndPaSolucoes/build
# misc
/FrontEndPaSolucoes/.DS_Store
# debug
/FrontEndPaSolucoes/npm-debug.log*
/FrontEndPaSolucoes/yarn-debug.log*
/FrontEndPaSolucoes/yarn-error.log*
# local env files
/FrontEndPaSolucoes/.env.local
/FrontEndPaSolucoes/.env.development.local
/FrontEndPaSolucoes/.env.test.local
/FrontEndPaSolucoes/.env.production.local

# build
/package.json